@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: 'IBM Plex Sans', sans-serif;
}

.fs-7 {
  font-size: 0.9rem !important
}

.fs-7 * {
  font-size: 0.9rem !important
}

.fs-8 {
  font-size: 0.8rem !important
}

.fs-8 * {
  font-size: 0.8rem !important
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  background: white;
}

.selected {
  background-color: #f76540 !important;
  color: white;
}

* {
  font-size: 1rem;
  font-family: 'IBM Plex Sans', sans-serif;
}